<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="service-name" source="spring.application.name"/>
    <springProperty scope="context" name="version" source="info.app.version"/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.amsidh.mvc.common.JsonEncoder"/>
    </appender>
    <root level="info">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
